{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Đại học Hạ Long - Học để thành công</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static '/lib/owlcarousel/assets/owl.carousel.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/lib/animate/animate.min.css' %}">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static '/css/bootstrap.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static '/css/style.css'%}" rel="stylesheet">
    </head>

    <body>
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div> -->
        <!-- Spinner End -->

        <!-- Navbar Start -->
        <div class="container-fluid bg-primary">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-lg py-0">
                    <a href="/" class="navbar-brand">
                        <h1 class="text-white fw-bold d-block">Đại học<span class="text-secondary"> Hạ Long</span> </h1>
                    </a>
                    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                        <div class="navbar-nav ms-auto mx-xl-auto p-0">
                            <a href="/" class="nav-item nav-link">Trang chủ</a>
                            <div class="nav-item dropdown ">
                                <a href="#" class="nav-link dropdown-toggle active text-secondary" data-bs-toggle="dropdown">Giới thiệu</a>
                                <div class="dropdown-menu rounded">
                                    <a href="/lich-su-thanh-lap/" class="dropdown-item">Lịch sử thành lập</a>
                                    <a href="/su-mang-va-muc-tieu/" class="dropdown-item">Sứ mạng và mục tiêu</a>
                                    <a href="#" class="dropdown-item active text-secondary">Sơ đồ cơ cấu tổ chức</a>
                                    <a href="/ban-giam-hieu/" class="dropdown-item">Ban giám hiệu</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sinh viên</a>
                                <div class="dropdown-menu rounded">
                                    <a href="#" class="dropdown-item">Định hướng và khởi đầu</a>
                                    <a href="#" class="dropdown-item">Chế độ chính sách</a>
                                    <a href="#" class="dropdown-item">Cơ hội nhận học bổng</a>
                                    <a href="#" class="dropdown-item">Cơ hội du học</a>
                                    <a href="#" class="dropdown-item">Cơ hội việc làm</a>
                                    <a href="#" class="dropdown-item">Tạo CV kết nối doanh nghiệp</a>
                                    <a href="#" class="dropdown-item">Hỏi đáp</a>
                                </div>
                            </div>
                            <a href="#" class="nav-item nav-link">Tuyển sinh</a>
                            <a href="#" class="nav-item nav-link">Liên hệ</a>
                        </div>
                    </div>
                    <div class="d-none d-xl-flex flex-shirink-0">
                        <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                            <a href="" class="position-relative animated tada infinite">
                                <i class="fa fa-phone-alt text-white fa-2x"></i>
                                <div class="position-absolute" style="top: -7px; left: 20px;">
                                    <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column pe-4 border-end">
                            <span class="text-white-50">Bât kì câu hỏi nào</span>
                            <span class="text-secondary">Liên hệ: + 0123 456 7890</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center ms-4 ">
                            <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->

        
        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5">
            <div class="container text-center py-5">
                <h1 class="display-2 text-white mb-4 animated slideInDown">Giới thiệu</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                        <li class="breadcrumb-item" aria-current="page">Sơ đồ cơ cấu tổ chức</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Fact Start -->
        <div class="container-fluid bg-secondary py-5">
        </div>
        <!-- Fact End -->


        <!-- About Start -->
        <div class="container-fluid py-5 my-5">
            <div class="container pt-5">
                <div class="row g-5">
                    <div style="color: gold;font-size: x-large;font-weight: bold;">Sơ đồ cơ cấu tổ chức</div>
                    <div class="entry-content">
                        <p class="the-excerpt">Sơ đồ cơ cấu tổ chức của Trường Đại học Hạ Long</p>
                        <p style="text-align: center;"><img decoding="async" class="alignnone  wp-image-15854" src="http://uhl.edu.vn/wp-content/uploads/2020/06/SodoTochucDHHL_32k21b.png" alt="" width="1500" height="1047"></p>
                    </div>
                    <!-- Comments Start -->
                    <hr>
                    <div id="comments" class="comments-area">
                        <h2 class="comments-title">Phần bình luận</span></h2>              
                            <ol class="comment-list">
                                {% for comments in comments_list %}
                                <li id="comment-204" class="comment even thread-even depth-1">
                                    <article id="div-comment-204" class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img alt="" src="https://secure.gravatar.com/avatar/fdd107db7b1a6e61bcd04f9c1950f871?s=32&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/fdd107db7b1a6e61bcd04f9c1950f871?s=64&amp;d=mm&amp;r=g 2x" class="avatar avatar-32 photo" height="32" width="32" loading="lazy" decoding="async">
                                                <b class="fn">{{comments.ho_ten}}</b> <span class="says">viết:</span>
                                            </div>
                                        </footer>
                                        <div class="comment-content" style="margin-left: 40px;margin-top: 20px;">
                                            <p>{{comments.cmt}}</p>
                                        </div>
                                        <hr>
                                    </article>
                                </li>
                                {% endfor %}
                            </ol>
                    
                        <div id="respond" class="comment-respond">
                            <h3 style="margin-top: 50px;" id="reply-title" class="comment-reply-title">BÌNH LUẬN <small><a rel="nofollow" id="cancel-comment-reply-link" href="/gioi-thieu-chung/gioi-thieu-chung-ve-truong-dai-hoc-ha-long/#respond" style="display:none;">Hủy</a></small></h3>
                            <form class="from_contact" action="/addCmt" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="comment-form-comment" style="width: 100%;margin-top: 30px;"><textarea id="comment" name="comment" cols="45" rows="8" placeholder="Nhập nội dung..." aria-required="true" style="border-radius: 8px;width: 100%;"></textarea></div>
                            <div class="row">
                                <div class="comment-form-author col-md-6 col-sm-12 col-xs-12"><input id="author" name="author" type="text" value="" size="30" placeholder="Họ tên" style="border-radius: 8px;"></div>
                            </div>
                            <p class="form-submit" style="margin-top: 40px;"><input style="height:50px;border-radius: 8px;" name="submit" type="submit" id="submit" class="submit" value="Gửi Bình Luận">
                            </form>
                        </div>
                    </div>
                    <!-- Comments End -->
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Team Start -->
        
        <!-- Team End -->


        <!-- Footer Start -->
        <div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
            <div class="container pt-5 pb-4">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <a href="/">
                            <h1 class="text-white fw-bold d-block">HaLong<span class="text-secondary"> University</span> </h1>
                        </a>
                        <p class="mt-4 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere delectus qui placeat inventore consectetur repellendus optio debitis.</p>
                        <div class="d-flex hightech-link">
                            <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-facebook-f text-primary"></i></a>
                            <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-twitter text-primary"></i></a>
                            <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-instagram text-primary"></i></a>
                            <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="#" class="h3 text-secondary">Link</a>
                        <div class="mt-4 d-flex flex-column short-link">
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>About us</a>
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Contact us</a>
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Our Services</a>
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Our Projects</a>
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Latest Blog</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="#" class="h3 text-secondary">Trợ giúp</a>
                        <div class="mt-4 d-flex flex-column help-link">
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Terms Of use</a>
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Privacy Policy</a>
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Helps</a>
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>FQAs</a>
                            <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Contact</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="#" class="h3 text-secondary">Thông tin liên hệ</a>
                        <div class="text-white mt-4 d-flex flex-column contact-link">
                            <a href="#" class="pb-3 text-light border-bottom border-primary"><i class="fas fa-map-marker-alt text-secondary me-2"></i> Uông Bí, Quảng Ninh</a>
                            <a href="#" class="py-3 text-light border-bottom border-primary"><i class="fas fa-phone-alt text-secondary me-2"></i> +123 456 7890</a>
                            <a href="#" class="py-3 text-light border-bottom border-primary"><i class="fas fa-envelope text-secondary me-2"></i> daihochalong@uhl.edu.com</a>
                        </div>
                    </div>
                </div>
                <hr class="text-light mt-5 mb-4">
                
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"><i class="fa fa-arrow-up text-white"></i></a>

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static '/lib/wow/wow.min.js'%}"></script>
        <script src="{% static '/lib/easing/easing.min.js'%}"></script>
        <script src="{% static '/lib/waypoints/waypoints.min.js'%}"></script>
        <script src="{% static '/lib/owlcarousel/owl.carousel.min.js'%}"></script>

        <!-- Template Javascript -->
        <script src="{% static '/js/main.js'%}"></script>
    </body>

</html>